<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.my.shopee.myshopee"
    android:versionCode="6">
    <!-- //request code = 1 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- //request code =2 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- //request code =3 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- //request code =5 -->
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- request code = 12 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/launcher_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_main_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.AdminPanelActivity"
            android:label="@string/title_activity_admin_panel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.splash_activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.locationActivity"
            android:label="@string/title_activity_location"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.StoresActivity"
            android:label="@string/title_activity_stores"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.StoreInnerActivity"
            android:label="@string/title_activity_store_inner"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.PropertyTypeActivity"
            android:label="@string/title_activity_property_type"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.PropertyInnerActivity"
            android:label="@string/title_activity_property_inner"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".Utilities.GPSTracker" />

        <activity
            android:name=".Activities.loginActivity"
            android:label="Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.giftCardActivity"
            android:label="@string/title_activity_gift_card"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.servicesActivity"
            android:label="@string/title_activity_services"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.servicesInnerActivity"
            android:label="@string/title_activity_services_inner"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.contactUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.aboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.propertySellActivity"
            android:label="@string/title_activity_property_sell"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.TermsAndConditionsActivity"
            android:label="@string/terms_and_conditions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PosterDetailsActivity"
            android:label="@string/title_activity_poster_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>